<div class='mt-4'>
  <div class='h3'>
    THÙNG KHÁC
    <a href="/me/stored/courses">Quay lại</a>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Tên khóa học</th>
        <th scope='col'>Trình độ</th>
        <th scope='col' colspan='3'>Thời gian xóa</th>
      </tr>
    </thead>
    <tbody>

      {{#each courses}}
      <tr>
        <th scope='row'>{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href='' class='btn btn-link btn-restore' data-bs-whatever='{{this._id}}'>Khôi phục</a>
          <a href='' class='btn btn-link' data-bs-toggle='modal' data-bs-target='#delete-course-modal'
            data-bs-whatever='{{this._id}}'>Xóa vĩnh viễn</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Thùng khác trống.
          <a href="/me/stored/courses">Quay lại.</a>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</div>

<!-- Modal Body-->
<div class='modal fade' id='delete-course-modal' tabindex='-1' role='dialog' aria-labelledby='modalTitleId'
  aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='modalTitleId'>
          Xác nhận xóa vĩnh viễn?
        </h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <div class='container-fluid'>Hành động này không thể khôi phục, bạn chắc chắn muốn xóa vĩnh viễn?</div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>
          Hủy
        </button>
        <button type='button' id="btn-delete-course" class='btn btn-danger'>Xác nhận xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>

{{!-- Form delete course --}}
<form method="POST" id="delete-course-form"></form>
<form method="POST" id="restore-course-form"></form>

{{!-- --}}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseID
    const deleteCourseForm = $('#delete-course-form')
    const restoreCourseForm = $('#restore-course-form')
    const btnDeleteCourse = $('#btn-delete-course')
    const btnRestore = $('.btn-restore')

    $('#delete-course-modal').on('show.bs.modal', function (event) {
      const button = $(event.relatedTarget)
      courseID = button.data('bs-whatever')
    })

    btnDeleteCourse.click(function (e) {
      $(deleteCourseForm).attr('action', '/courses/' + courseID + '/force?_method=DELETE');
      $(deleteCourseForm).submit();
    });

    btnRestore.click(function (e) {
      e.preventDefault()

      var courseID = $(this).data('bs-whatever')
      console.log(courseID)

      $(restoreCourseForm).attr('action', '/courses/' + courseID + '/restore?_method=PATCH');
      $(restoreCourseForm).submit();
    })

  })
</script>